@import 'variables.scss';

/*
El objetivo de este archivo scss es el de dar los estilos generales a los diferentes archivos html
*/


.clearFix{
    float: none;
    clear: both;
}

body{
    background-color: $color-secundario;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

ol,
ul,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: $color-secundario;
  border-radius: 50%;
}

.carousel-indicators {
  > [data-bs-target]{
    background-color: $color-secundario;
  }
}