@import "general.scss";
@import "header.scss";
@import "infoSection.scss";
@import "toolsSection.scss";
@import "formSection.scss";
@import "footerSection.scss";
@import "toolPageInfoSection.scss";

/*
Este es el archivo que junta todos los documentos scss en uno y es el archivo que se utiliza para generar el archivo styles.css
También este es el archivo en el que se implementan los media querys para las correcciones de los diferentes archivos en sus diferentes resoluciones.
*/

@media screen and (min-device-width: 565px) {
  .footerSection {
    > p {
      border: none;
    }
  }
}

/* ----------------------------------------------------Vista Tablet-------------------------- */

/*
En esta vista se cambió la distribución del formulario en el index.html para que se encuentre separado en dos partes, en vez de estar todo alineado hacia abajo
*/

@media screen and (min-device-width: 712px) {
  .toolSection {
    padding-top: 60px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2 {
      margin-top: -60px;
      height: 40px;
      line-height: 40px;
    }

    .card {
      margin: 0;
      margin-top: 10px;
    }
  }

  .formSection {
    width: 100%;

    > form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 20px;
      padding: 0 20px;

      .formSection__inputsLeftGroup {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .formSection__inputsLeftGroup__inputContainer {
          display: flex;
          column-gap: 10px;

          input {
            width: 250px;
            font-size: 16px;
            font-family: PT Sans;
            border-bottom: 1px solid $color-secundario;
            border-left: none;
            color: #a1a0a0;
            border-top: #a1a0a0;
            border-right: #a1a0a0;
          }

          img {
            width: 45px;
          }
        }

        .formSection__textarea {
          textarea {
            border-bottom: 1px solid $color-secundario;
            border-left: 1px solid $color-secundario;
            color: #a1a0a0;
            border-top: #a1a0a0;
            border-right: #a1a0a0;
            height: 185px;
            width: 300px;
            font-size: 18px;
          }
        }
      }

      .formSection__checkbox {
        h3 {
          font-family: PT Sans;
          color: $color-secundario;
          font-size: 20px;
          margin-top: -10px;
        }
      }

      .formSection__selection {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        #selection {
          width: 360px;
          height: 30px;
          margin-top: 15px;
          border-radius: 8px;
        }

        .form__buttons {
          .form__buttons--reset,
          .form__buttons--send {
            height: 35px;
            padding: 0 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 50px;
            border-radius: 10px;
            border: none;
          }

          .form__buttons--reset {
            margin-left: 27%;
          }

          .form__buttons--send {
            background-color: $color-primario;
            padding: 0 30px;
          }
        }
      }
    }
  }

  .formSection__checkbox__item label,
  .formSection__selection--title {
    font-family: PT Sans;
    font-size: 15px;
    color: #a1a0a0;
    font-weight: 100;
  }

  .footerSection > p {
    border: none;
    line-height: 30px;
  }

  /* El código ubicade debajo brinda una nueva distribución a la sección de información en el elemento herramienta.html */

  .toolsInfo {
    .toolsInfo__content {
      h2 {
        width: 270px;
      }

      p {
        width: 46%;
      }

      > p:last-of-type,
      p:nth-of-type(3) {
        width: 98%;
      }
    }

    .carousel {
      position: absolute;
      top: 210px;
      left: 55%;
    }
  }
}

/* ----------------------------------------------------Vista Tablet Acostada-------------------------- */
/*
En este media query se cambia la manera en la ubicación de los sliders, pasando de estar debajo del contenido a su costado
También se cambia la sección de herramientas, haciendo que la misma tenga una altura fija, en vez de tener un "overflow: auto"
Y por último se cambió la distribución del menú del header, pasando de estar debajo de la marca a estár al lado de la misma y con el mismo color
*/

@media screen and (min-device-width: 1188px) {
  header {
    flex-direction: row;
    height: 70px;

    .header__brandLogo {
      width: 45%;
      text-align: right;
      padding-left: 10%;

      .header__brandLogo--img {
        width: 50px;
        height: 50px;
      }
    }

    .header__menu {
      padding: 0;
      width: 35%;
      background-color: $color-primario;
      color: $color-secundario;
      margin-left: 60%;
      line-height: 40px;
      z-index: 2;

      ul {
        background-color: $color-primario;
        justify-content: space-between;
        margin-top: 0px;

        li {
          font-size: 20px;
        }
      }
    }
  }

  .navigation {
    .navigation__item {
      .navigation__item__content {
        .navigation__item__content--title,
        p {
          width: 55% !important;
          margin-left: 5% !important;
        }

        .navigation__item__content--title {
          font-size: 20px;
          line-height: 50px;
        }
      }

      #carouselExampleIndicators {
        position: absolute;
        left: 62%;
        width: 320px !important;
        height: 400px !important;
        background-color: $color-terciario;
      }
    }

    .navigation__item:nth-of-type(2) {
      .navigation__item__content {
        > #carouselExampleIndicators {
          top: 225px !important;
        }
      }
    }

    // El bucle for ubicado debajo coloca los sliders de la sección de información en los diferentes archivos HTML
    // Para ello selecciona los diferentes .navigation__item y modifica la protiedad "top" de cada uno de los sliders
    @for $i from 1 through 7 {
      .navigation__item:nth-of-type(#{$i}) {
        .navigation__item__content {
          .carousel {
            top: 200px !important;
            margin-top: #{$i * 30 - 25}px !important;
          }
        }
      }
    }
  }

  .toolSection {
    padding-top: 60px;
    height: auto;
    padding-bottom: 40px;

    h2 {
      margin-top: -60px;
      height: 40px;
      line-height: 40px;
    }

    .card {
      width: 220px;
      height: 410px;
    }
  }

  .formSection {
    width: 92%;
    margin-left: 8%;

    form {
      column-gap: 90px;
    }
  }

  /* En el código de debajo se corrige el slider de la sección de información del archivo herramienta.html */

  .toolsInfo {
    .toolsInfo__content {
      h2 {
        width: 40%;
      }
    }

    .correccionHerramientaHTML {
      height: 420px !important;
      top: 165px;
    }
  }
}

/* ----------Corrección para la sección de información en la sección de información en la página de herramientas----------- */
@media screen and (min-device-width: 1250px) {
  .toolsInfo {
    .toolsInfo__content {
      width: 64%;
      padding-bottom: 30px;
      padding-left: 6%;

      p {
        width: 94%;
      }

      p:last-of-type,
      p:nth-of-type(3) {
        width: 94%;
      }
    }

    .correccionHerramientaHTML {
      right: 5% !important;
      left: 60%;
      width: 28% !important;
      height: 64vh !important;
    }
  }

  .borderTopLeftRadius {
    border-top-left-radius: 50px !important;
    /*Esta categoría redondea el borde superior izquierdo de la sección de herramientas en el archivo herramientas.html*/
  }
}

/* El media query ubicado debajo se utiliza para corregír la disposición de las cards de la sección de herramientas en los diferentes archivos HTML*/

@media screen and (min-device-width: 1828px) {
  .toolSection {
    .card {
      margin: 0 34px;
    }
  }
}

/* ----------------------------------------------------Vista Computadora-------------------------- */
/*
Con este media query se cambió la manera en la que se distribuye el contenido del aside, dejando de ser vertical y pasando a tener el contenido oculto, a excepción del elemento que se encuentra activo.
*/
@media screen and (min-device-width: 1440px) {
  .infoSection {
    margin-top: 0;
    width: 93%;
    height: 900px;
    margin-left: 7%;
    padding-right: 5%;
    background-color: $color-terciario;

    aside {
      h2 {
        font-family: PT Sans;
        font-size: 28px;
        text-align: left;
        color: $color-secundario;
        width: 335px;
        padding-top: 42px;
        text-align: center;
      }

      .navigation {
        line-height: 60px;
        border: none;
        margin-top: 50px;

        ul {
          .navigation__item {
            position: relative;
            list-style: none;
            width: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-left: 12px;

            b:nth-child(1) {
              position: absolute;
              top: -20px;
              height: 20px;
              width: 335px;
              background: #3a3a3a;
              display: none;
            }

            b:nth-child(1)::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 335px;
              height: 100%;
              border-bottom-right-radius: 20px;
              background: $color-terciario;
            }

            b:nth-child(2) {
              position: absolute;
              bottom: -20px;
              height: 20px;
              width: 335px;
              background: $color-secundario;
              display: none;
              z-index: 1;
            }

            b:nth-child(2)::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 335px;
              height: 100%;
              border-top-right-radius: 20px;
              background: $color-terciario;
            }

            span {
              background-color: $color-terciario;
              color: $color-secundario;
              border: none;
              text-align: left;
              line-height: 60px;
              width: 335px;
              text-align: center;
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              background-color: $color-secundario;
              border-radius: 50%;
            }

            .navigation__item__content {
              display: none;
              background-color: $color-secundario;

              .navigation__item__content--title {
                margin-left: 80px;
                margin-top: 45px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 40% !important;
              }

              p {
                line-height: 20px;
                width: 510px;
                height: 180px;
                margin-left: 80px;
                color: $color-terciario;
                padding: 15px;
                border: 1px solid $color-terciario;
                box-shadow: 1px 1px 1px $color-terciario,
                  2px 2px 1px $color-terciario, 3px 3px 1px $color-terciario;
                margin-bottom: 40px;
                overflow: hidden;
              }

              p:last-of-type {
                height: 106px;
                padding: 15px;
              }

              #carouselExampleIndicators {
                width: 30% !important;
                height: 520px;
                background-color: $color-terciario;
                border-radius: 7%;
                overflow: hidden;
                position: absolute;
                left: 63%;
                top: 150px;
              }
            }
          }

          .navigation__item:last-of-type {
            .navigation__item__content {
              span {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }

          .navigation__item--active {
            background-color: $color-secundario;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;

            b:nth-child(1),
            b:nth-child(2) {
              display: block;
            }

            > a {
              border-top-left-radius: 50px;
              border-bottom-left-radius: 50px;

              span {
                color: $color-terciario;
                background-color: $color-secundario;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                margin: 0;
              }
            }

            > .navigation__item__content {
              display: initial;
              position: absolute;
              right: -5%;
              margin-left: 335px;
              width: auto;
              height: 83vh;
              border-bottom-left-radius: 80px;
              z-index: 2;

              .navigation__item__content--title:first-of-type {
                margin-top: 50px;
              }
            }
          }
        }
      }
    }
  }

  /* Esta sección del código se encarga de alinear en altura los contenidos de los diferentes elementos li, ya que empiezan desde diferentes alturas */

  .navigation ul li:nth-of-type(1) .navigation__item__content {
    top: -160px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .navigation ul li:nth-of-type(2) .navigation__item__content {
    top: -220px;

    > #carouselExampleIndicators {
      margin-top: -26px !important;
    }
  }

  .navigation ul li:nth-of-type(3) .navigation__item__content {
    top: -280px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .navigation ul li:nth-of-type(4) .navigation__item__content {
    top: -340px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .navigation ul li:nth-of-type(5) .navigation__item__content {
    top: -400px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .navigation ul li:nth-of-type(6) .navigation__item__content {
    top: -460px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .navigation ul li:nth-of-type(7) .navigation__item__content {
    top: -520px;

    > #carouselExampleIndicators {
      margin-top: 0px !important;
    }
  }

  .toolSection {
    background-color: $color-terciario;
    margin-top: 0;
    height: auto;
    padding: 150px 160px 30px 160px;
    width: 93.09%;
    margin-left: 6.95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 0 0 0 50px;
    padding-bottom: 30px;

    h2 {
      position: absolute;
      margin-top: -100px;
      background-color: $color-terciario;
      line-height: 50px;
      font-size: 35px;
      font-family: PT Sans;
      border: none;
    }
  }

  .formSection {
    width: 92%;
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 50px 0;
  }
}
